@use "mixins" as mix;
@use "colors" as c;

.nav {
	@include mix.pos(absolute, initial, 0, 0);
	width: 100%;
	padding: 2rem;
	border-top-left-radius: 2rem;
	border-top-right-radius: 2rem;

	@include c.themed() {
		background: linear-gradient(180deg, transparent, c.t(c.$app-bg) 50%);
	}

	&--hidden {
		display: none;
	}
}

.menu {
	@include mix.flex(stretch, stretch);
}

.menu-item-link {
	flex: 1;
}

.menu-item {
	@include mix.flex;
	width: 100%;
	height: 100%;
	border-radius: 2rem;
	flex-direction: column;
	font-size: 3rem;
	padding: 1.5rem 0;

	@include c.themed() {
		color: c.t(c.$gray-color);

		&--active {
			box-shadow: c.t(c.$shadow);
			background: c.t(c.$second-color);
		}
	}

	&--active {
		@include c.themed() {
			color: c.t(c.$primary-color);
		}
	}

	&__icon {
	}

	&__text {
		font-size: 1.5rem;
	}
}
